beautifulsoup4==4.6.0
bleach==1.5.0
boto==2.48.0
bz2file==0.98
certifi==2017.11.5
chainer==3.0.0
chardet==3.0.4
click==6.7
cupy==2.0.0
enum34==1.1.6
fastrlock==0.3
filelock==2.0.12
Flask==0.12.2
gensim==3.1.0
h5py==2.7.1
html5lib==0.9999999
idna==2.6
itsdangerous==0.24
Janome===0.3.6-dev1.neolog
Jinja2==2.10
Markdown==2.6.9
MarkupSafe==1.0
mecab-python3==0.7
mock==2.0.0
nose==1.3.7
numpy==1.13.3
olefile==0.44
opencv-python==3.3.0.10
pbr==3.1.1
Pillow==8.2.0
protobuf==3.4.0
PyYAML==3.12
requests==2.18.4
scipy==1.0.0
six==1.11.0
smart-open==1.5.3
tqdm==4.19.4
urllib3==1.22
Werkzeug==0.12.2
