th, td{
    text-align: center;
}

.lang{
    font-weight: bold;
}

#captions, #configuration{
    margin-top: 3%;
}


#canvas-container{
    position: relative;
    height: 0;
    overflow: hidden;
    padding-top: 56.25%
}
  #canvas{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
  }
